* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.hero {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(63, 19, 209);
  font-size: 3rem;
  text-align: center;
}

.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(63, 19, 209);
  font-size: 3rem;
  text-align: center;
}

